Description=Device manager (eudev)
Type=forking
ExecStart=/bin/sh -c 'if [ -x /sbin/udevd ]; then exec /sbin/udevd --daemon; elif [ -x /usr/lib/systemd/systemd-udevd ]; then exec /usr/lib/systemd/systemd-udevd --daemon; else exit 0; fi'
After=01-filesystems.service
Restart=no
