Description=Hardware abstraction layer
Type=oneshot
ExecStart=/bin/sh -c 'if [ -x /sbin/modprobe ]; then /sbin/modprobe loop 2>/dev/null || true; fi'
After=02-udevd.service
Restart=no
